.crz-zone-info {
  padding: 0.4em;
  font-size: 1.2em;
}

.crz-spacer {
  flex: 1 1 auto;
}

.crz-zone-info-date {
  font-size: 1em;
  margin-bottom: 0.4em;
  padding: 0.2em;
}

.crz-date-not-today {
  background-color: #ff5a68;
}

.crz-zone-info-title {
  font-size: 1.6em;
  line-height: 1.2em;
}

.crz-zone-info-description {
  font-size: 1em;
  margin-bottom: 0.4em;
}

.crz-zone-info-region {
  font-size: 1em;
  margin-bottom: 0.4em;
}

.crz-zone-info-population {
  font-size: 0.6em;
}

hr {
  border: 1px solid gainsboro;
}
