<div class="crz-main-view">
  <div #toolbar class="crz-main-toolbar">
    <mat-toolbar  color="primary">
      <span>Einstellungen</span>
      <span class="crz-spacer"></span>
      <span class="crz-tb-actions">
       <button mat-icon-button (click)="onSave()"><mat-icon>save</mat-icon></button>
      </span>
    </mat-toolbar>
  </div>
  <div class="crz-settings-list crz-card" [formGroup]="formGroup">
    <div class="crz-setting-entry">
      <div>
        Anzahl der gespeicherten Tage
      </div>
      <mat-form-field>
        <mat-select formControlName="numberOfRecords">
          <mat-option *ngFor="let day of days" [value]="day">
            {{day}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <hr>
    <div class="crz-setting-entry">
      <mat-slide-toggle formControlName="showCasesTotal">Verlauf für 'Fälle auf 100T EW – kumuliert' anzeigen</mat-slide-toggle>
    </div>
    <hr>
    <div class="crz-setting-entry">
      <div>
        Farbschema
      </div>
      <mat-form-field>
        <mat-select formControlName="themeType">
          <mat-option *ngFor="let themeEntry of themeEntries" [value]="themeEntry">
            {{themeEntry.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

