

.crz-cases-number {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-size: 2em;
}

.crz-cases-trend {
  margin-left: 1em;
}

.crz-cases {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.crz-time-small {
  font-size: 0.6em;
}

.crz-region {
  font-size: 0.8em;
}

.crz-zone {
  font-size: 1.2em;
}

.crz-color-box {
  min-width: 2em;
  margin-right: 0.4em;
  border: 1px solid dimgrey;
}

.crz-zone-details {
  display: flex;
  flex-direction: row;
}

.crz-spacer {
  flex: 1 1 auto;
}

.crz-drag-handle {
  height: 40px;
  margin-right: 1em;
}

.crz-info {
  line-height: 0;
  height: 0;
  margin-right: 1em;
}
