<div #details class="crz-card" cdkDrag>
  <div class="crz-zone-details">
    <div [ngClass]="getZoneColor(zone)">
    </div>
    <div>
      <div [matMenuTriggerFor]="menu"></div>
      <div class="crz-region">{{zone.region}} / {{zone.description}}</div>
      <div class="crz-zone">{{zone.name}}</div>
      <div class="crz-cases">
        <div class="crz-cases-number">{{cases7Per100k}}</div>
        <div class="crz-cases-trend" [style.color]="trendColor">
          <div *ngIf="diffInPercent < 0"><mat-icon>{{trendingDown}}</mat-icon></div>
          <div *ngIf="diffInPercent > 0"><mat-icon>{{trendingUp}}</mat-icon></div>
        </div>
      </div>
      <div class="crz-time-small">{{zone.updateDate}}</div>
    </div>
    <div class="crz-spacer">
    </div>
    <div >
      <button (click)="onShowInfo()" class="crz-info" mat-icon-button>
        <mat-icon>info</mat-icon>
      </button>
    </div>
    <div>
      <div class="crz-drag-handle" cdkDragHandle>
        <mat-icon>drag_handle</mat-icon>
      </div>
    </div>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onRemove()">
      <mat-icon>delete</mat-icon>
      <span>Entfernen</span>
    </button>
  </mat-menu>

</div>



