.crz-history-graph {
  max-width: 500px;
  max-height: 400px;
}

.crz-history {
  margin: 0.4em;
  color: dimgrey;
  background-color: white;
  border: 1px solid gainsboro;
  padding: 0.4em;
  box-shadow: 0 2px 2px gainsboro;
  font-size: 1.2em;
}

.crz-graph-title {
  font-size: 1em;
  margin-bottom: 0.4em;
}
.crz-info-text {
  font-size: 0.6em;
  line-height: 1.0em;
}
