.app-alert-success {
  background-color: #1cde7c;
}

.app-alert-error {
  background-color: #de4d3a;
}

.alert-type {
  margin-right: 0.4em;
  min-width:1em;
  min-height:1em;
}

.alert-toast {
  z-index: 1200;
  display: flex;
  flex-direction: row;
  align-items: center;
}
