.zone-add-button {
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 1100;
}

.spacer {
  flex: 1 1 auto;
}

.main-view {
  overflow: hidden;
}

.main-toolbar {
  position: fixed;
  width:100%;
}

.zone-list {
  margin-top: 64px;
  overflow: auto;
}
