.crz-zone-add-button {
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 900;
}

.crz-spacer {
  flex: 1 1 auto;
}

.crz-main-view {
  overflow: hidden;
  height: 100%;
}

.crz-main-toolbar {
  position: fixed;
  width:100%;
}

.crz-zone-list {
  margin-top: 64px;
  overflow: auto;
}

.crz-no-data {
  flex-direction: column;
  margin-top: 5em;
  color: dimgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  line-height: 1.1em;
  text-align:center
}

.crz-error-msg {
  font-size: 0.8em;
  margin-top: 0.4em;
}

.crz-error-subtext {
  font-size: 0.4em;
  margin-top: 0.4em;

}
