/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cases_gt_10 {
  background-color: antiquewhite;
}

.cases_gt_20 {
  background-color: #fadfd7;
}

.spinner-centered {
  margin: 0 auto;
  margin-top: 10em;
}
